/**
Colour Palette:
    <body> #393b4f
    <h1> #ec9928
    <h2> #52adf9
    <p> #fafafa
    <border> #060c2a
**/


/* Home Page*/
body {
    background-color: #393b4f;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin: 0 0;
    min-width: 300px;
}

.main-link {
    display: none;
}

.header {
    display: block;
    margin: 0 0;
}

.content {
    display: block;
    margin: 0 0;
    padding: 25px 25px;
}

.footer {
    display: block;
    margin: 0 0;
}

div {
    margin: 0 0;
}

h1 {
    color: #ec9928;
    font-size: 4rem;
    font-weight: lighter;
    text-align: center;
    line-height: 1.2em;
    margin: 0 0;
}

h2 {
    color: #52adf9;
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: center;
    line-height: 1.2em;
    margin: 0 0;
}

h3 {
    color: #ec9928;
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.2em;
}

h4 {
    color: #ec9928;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.2em;
    margin: 0 0;
}

h5 {
    color: #ec9928;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.2em;
    margin: 0 0;
}

.return-to-home {
    color: #fafafa;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: lighter;
    text-decoration: none;
    margin: 20px 20px;
}

.return-to-home:hover {
    color: #52adf9;
}

p {
    color: #fafafa;
    font-size: 1.2rem;
    line-height: 1.2em;
    margin: 0 0;
    text-align: justify;
}

a {
    color: #fafafa;
    font-size: 1.3rem;
    line-height: 1.2em;
    text-decoration: none;
}

ul {
    margin: 0 0;
    padding: 0 0;
}

li {
    color: #fafafa;
    font-size: 1.1rem;
    line-height: 1.2em;
    margin: 0 0;
}

li ul {
    padding-inline-start: 30px;

}

li a {
    color: #fafafa;
    font-size: 1.1rem;
    line-height: 1.2em;
    text-decoration: underline;
}

li a:hover {
    filter: brightness(0.8);
}

hr {
    margin-top: 40px;
}

.job-title-container div {
    display: inline-block;
}

.list-title {
    list-style-type: none;
}

.title {
    color: #52adf9;
    margin: 0 0;
    font-weight: lighter;
    list-style-type: none;
}

/* Header */
.header {
    display: grid;
    grid-template-rows: 40px 1fr 1fr;
    align-items: center;
    height: 300px;
    background-image: url("./Assets/Images/header-strip.png");
}

#header-index {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    height: 300px;
}

#header-software-development {
    display: grid;
    grid-template-rows: 40px 1fr;
    align-items: center;
    height: 300px;
}

#header-contact {
    display: grid;
    grid-template-rows: 40px 1fr;
    align-items: center;
    height: 300px;
}

.h3-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture-wrapper {
    display: flex;
    justify-content: center;
}

.profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Content */
.content {
    max-width: 840px;
    margin: 0 auto;
}

.about-wrapper {
    display: block;
    width: 100%;
    margin: 0 0;
}

.menu-grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 49% 2% 49%;
}

@media (max-width: 750px) {
    .menu-grid {
        grid-template-columns: 100%;
    }

    span {
        display: none;
    }
    .job-title-container div {
        display: block;
    }

    h1 {
        font-size: 2.5rem;
    }

    .profile-picture {
        width: 200px;
        height: 200px;
        top: 15%;
    }
}

.menu-image-wrapper {
    justify-self: center;
    margin-top: 3%;
    position: relative;
}

.menu-image-wrapper:hover > h3 {
    visibility: visible;
}

.menu-image-wrapper > h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    color: #fafafa;
    visibility: hidden;
    z-index: 2;
    transition: all ease-in-out 0.2s;
}

.menu-image {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.2s;
}

.menu-image:hover {
    filter: brightness(0.3);
    transform: scale(1.02);
}

.job-title-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Contact form */
.contact-form-wrapper h2 {
    font-weight: normal;
}

form {
    max-width: 600px;
    width: 90%;
    background-color: #fafafa;
    margin: 0 auto 10vh auto;
    padding: 40px;
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    display: block;
    margin: 20px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #060c2a;
}

input:focus, textarea:focus {
    border-bottom: 1px solid #ec9928;
}

textarea::-webkit-scrollbar {
    width: 4px;
}

.button-wrapper {
    text-align: center;
}

button[type="submit"] {
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background-color: #52adf9;
    color: #fafafa;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

button[type="submit"]:hover {
    background-color: #ec9928;
    transform: scale(1.02);
}

.error-message {
    color: red;
}

.error-border {
    border-bottom: 1px solid red;
}

.success-message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    margin-top: 10px;
}


/* Footer */
.footer {
    display: block;
    margin-top: 50px;
    height: 100px;
    background-color: #060c2a;
}

.social-icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    height: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 20px 15px;
}

#apple-music-logo {
    padding-bottom: 3px;
    height: 17px;
}

.social-icon:hover {
    filter: brightness(0.8);
    transform: scale(1.1);
}

.copyright-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-wrapper > p {
    font-size: 0.8rem;
    font-weight: lighter;
}



