/**
Colour Palette:
    <body> #393b4f
    <h1> #ec9928
    <h2> #52adf9
    <p> #fafafa
    <border> #060c2a
**/


/* Home Page*/
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin: 0 0;
    min-width: 300px;
    background-image: url("./Assets/Images/Textures/background-image.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#index-page {

}

#software-development-page {

}

#music-production-page {

}

#resume-page {

}

#contact-page {

}

.glass {
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
    inset 0 4px 20px rgba(255, 255, 255, 0.3);
}

.glass::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    backdrop-filter: blur(1px);
    box-shadow: inset -10px -8px 0 -11px rgba(255, 255, 255, 1),
    inset 0 -9px 0 -8px rgba(255, 255, 255, 1);
    opacity: 0.6;
    z-index: -1;
    filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}

.main-link {
    display: none;
}

.header {
    display: block;
    margin: 0 0;
}

.content {
    display: block;
    margin: 0 0;
    padding: 25px 25px;
}

.footer {
    display: block;
    margin: 0 0;
}

div {
    margin: 0 0;
}

h1 {
    color: #ec9928;
    font-size: 4rem;
    font-weight: lighter;
    text-align: center;
    line-height: 1.2em;
    margin: 0 0;
}

h2 {
    color: #52adf9;
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: center;
    line-height: 1.2em;
    margin: 0 0;
}

h3 {
    color: #ec9928;
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.2em;
}

h4 {
    color: #ec9928;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.2em;
    margin: 0 0;
}

h5 {
    color: #ec9928;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.2em;
    margin: 0 0;
}

h6 {
    color: #fafafa;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0 0;
}

.return-to-home {
    color: #fafafa;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: lighter;
    text-decoration: none;
    margin: 20px 20px;
}

.return-to-home:hover {
    color: #52adf9;
}

p {
    color: #fafafa;
    font-size: 1.2rem;
    line-height: 1.2em;
    margin: 0 0;
    text-align: justify;
}

a {
    color: #fafafa;
    font-size: 1.3rem;
    line-height: 1.2em;
    text-decoration: none;
}

ul {
    margin: 0 0;
    padding: 0 0;
}

li {
    color: #fafafa;
    font-size: 1.1rem;
    line-height: 1.2em;
    margin: 0 0;
}

li ul {
    padding-inline-start: 30px;
}

li a {
    color: #fafafa;
    font-size: 1.1rem;
    line-height: 1.2em;
    text-decoration: underline;
}

li a:hover {
    filter: brightness(0.8);
}

hr {
    margin-top: 40px;
}

.job-title-container div {
    display: inline-block;
}

.list-title {
    list-style-type: none;
}

.title {
    color: #52adf9;
    margin: 0 0;
    font-weight: lighter;
    list-style-type: none;
}

/* Header */
.header {
    display: grid;
    grid-template-rows: 40px 1fr 1fr;
    align-items: center;
    height: 300px;
    background-image: url("./Assets/Images/header-strip.png");
}

#header-index {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    height: 300px;
}

#header-software-development {
    display: grid;
    grid-template-rows: 40px 1fr;
    align-items: center;
    height: 300px;
}

#header-contact {
    display: grid;
    grid-template-rows: 40px 1fr;
    align-items: center;
    height: 300px;
}

.h3-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture-wrapper {
    display: flex;
    justify-content: center;
}

.profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
    inset 0 4px 20px rgba(255, 255, 255, 0.3);
}

/* Content */
.content {
    max-width: 840px;
    margin: 0 auto;
}

.about-wrapper {
    display: block;
    width: 100%;
    margin: 0 0;
}

.menu-grid {
    display: grid;
    grid-template-columns: 48% 4% 48%;
}

.menu-text-wrapper {
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
}

.menu-text-wrapper p {
    margin: 10px;
    font-size: 1rem;
}

.menu-image-wrapper ul {
    margin-top: 10px;
    margin-left: 30px;
}

@media (max-width: 750px) {
    .menu-grid {
        grid-template-columns: 100%;
    }

    span {
        display: none;
    }
    .job-title-container div {
        display: block;
    }

    h1 {
        font-size: 2.5rem;
    }

    .profile-picture {
        width: 200px;
        height: 200px;
        top: 15%;
    }
}

.menu-image-wrapper {
    justify-self: center;
    margin-top: 4%;
    position: relative;
}

.menu-image > h3 {
    color: #fafafa;
    font-size: 1.5rem;
    font-weight: lighter;
}

#software-development-link {
    width: 100%;
    height: 400px;
    background-image: url("./Assets/Images/software-development.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.2s;
    filter: brightness(0.8);
}

#music-production-link {
    width: 100%;
    height: 400px;
    background-image: url("./Assets/Images/music-production.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.2s;
    filter: brightness(0.8);
}

#resume-link {
    width: 100%;
    height: 400px;
    background-image: url("./Assets/Images/resume.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.2s;
    filter: brightness(0.8);
}

#contact-link {
    width: 100%;
    height: 400px;
    background-image: url("./Assets/Images/contact.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.2s;
    filter: brightness(0.8);
}

#drums-online-link {
    width: 100%;
    height: 400px;
    background-image: url("./Assets/Images/online-drums-screenshot.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.2s;
    filter: brightness(0.8);
}

#music-store-link {
    width: 100%;
    height: 400px;
    background-image: url("./Assets/Images/music-store-screenshot.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.2s;
    filter: brightness(0.8);
}

#rehearsal-planner-link {
    width: 100%;
    height: 400px;
    background-image: url("./Assets/Images/rehearsal-planner-screenshot.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.2s;
    filter: brightness(0.8);
}

.placeholder-link {
    width: 100%;
    height: 400px;
    background-color: #060c2a;
    transition: all ease-in-out 0.2s;
    filter: brightness(0.8);
}

.placeholder-link:hover {
    transform: scale(1.02);
    filter: brightness(1);
}


#software-development-link:hover {
    transform: scale(1.02);
    filter: brightness(1);
}

#music-production-link:hover {
    transform: scale(1.02);
    filter: brightness(1);
}

#resume-link:hover {
    transform: scale(1.02);
    filter: brightness(1);
}

#contact-link:hover {
    transform: scale(1.02);
    filter: brightness(1);
}

#drums-online-link:hover {
    transform: scale(1.02);
    filter: brightness(1);
}

#music-store-link:hover {
    transform: scale(1.02);
    filter: brightness(1);
}

#rehearsal-planner-link:hover {
    transform: scale(1.02);
    filter: brightness(1);
}

.menu-image {
    max-width: 100%;
    border-radius: 5px;
}

.menu-image:hover {
    transform: scale(1.02);
}

.job-title-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Contact form */
.contact-form-wrapper h2 {
    font-weight: lighter;
    font-size: 2rem;
}

form {
    max-width: 600px;
    width: 100%;
    margin: 5vh auto 5vh auto;
}

label {
    display: block;
    margin: 20px 0;
    color: #ec9928;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-radius: 4px;
    border-bottom: 1px solid #060c2a;
}

input:focus, textarea:focus {
    border: 2px solid #52adf9;
}

textarea::-webkit-scrollbar {
    width: 4px;
}

.button-wrapper {
    text-align: center;
}

button[type="submit"] {
    margin-top: 30px;
    width: 90%;
    height: 50px;
    max-width: 200px;
    color: #fafafa;
    font-size: 1.1rem;
    padding: 10px;
}


button[type="submit"]:hover {
    background-color: #ec9928;
    transform: scale(1.1);
    transition: all ease-in-out 0.2s;
}

.error-and-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.error-message {
    color: orangered;
}

.error-border {
    border: 1px solid orangered;
}

.counter {
    color: #fafafa;
}

.success-message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: springgreen;
    margin-top: 10px;
}


/* Footer */
.footer {
    display: block;
    margin-top: 50px;
    height: 100px;
    background-color: #060c2a;
    border-top: 1px solid #fafafa;
}

.social-icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    height: 20px;
    width: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 20px 10px;
}

#apple-music-logo {
    background-image: url("./Assets/Images/Icons/apple-music-logo.png");
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 3px;
}

#github-logo {
    background-image: url("./Assets/Images/Icons/github-logo.png");
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
}

#youtube-logo {
    background-image: url("./Assets/Images/Icons/youtube-logo.png");
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
}

#linkedin-logo {
    background-image: url("./Assets/Images/Icons/linkedIn-logo.png");
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.social-icon:hover {
    transform: scale(1.2);
    transition: all ease-in-out 0.2s;
}

.copyright-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-wrapper > p {
    font-size: 0.8rem;
    font-weight: lighter;
}



